.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0px;
  margin: 0;
}

@media screen and (max-width: 775px) {
  .cards__list {
    max-width: 282px;
    align-items: center;
    margin-top: 36px;
  }
}

@media screen and (max-width: 320px) {
  .cards__list {
    grid-gap: 20px;
    padding: 0 0 20px;
    margin: 0;
  }
}
