@media screen and (max-width: 775px) {
  .page__content {
    align-items: center;
  }

  .header {
    max-width: 282px;
  }

  .profile {
    max-width: 282px;
    flex-direction: column;
    padding: 0;
  }

  .profile__avatar {
    margin-top: 42px;
    margin-bottom: 30px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
  }

  .profile__title {
    font-size: 22px;
    line-height: 1.2px;
    text-align: center;
    margin: 0;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    padding-bottom: 36px;
  }

  .profile__add-button {
    margin: 0;
    padding: 0;
    width: 282px;
    margin-bottom: 16px;
  }

  .card__list {
    max-width: 282px;
    align-items: center;
    border-radius: 10px 10px 0 0;
    grid-gap: 20px;
  }

  .card__description {
    max-width: 282px;
  }
}

@media screen and (max-width: 320px) {
  .page__content {
    align-items: center;
  }

  .header {
    max-width: 282px;
    margin: 0;
  }

  .profile {
    flex-direction: column;
    max-width: 282px;
    padding: 0;
  }

  .profile__avatar {
    margin-top: 42px;
    margin-bottom: 30px;
    max-width: 282px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    max-width: 282px;
  }

  .profile__title {
    text-align: center;
    font-size: 22px;
    line-height: 1.2px;
    margin: 0;
  }

  .profile__edit-button {
    width: 18px;
    height: 18px;
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }

  .profile__add-button {
    margin: 0;
    padding: 0;
    width: 100%;
    margin-bottom: 16px;
    max-width: 282px;
  }

  .card__list {
    max-width: 282px;
    grid-gap: 20px;
    border-radius: 10px 10px 0 0;
  }

  .card__description {
    max-width: 282px;
  }
}
