.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  padding: 0 19px;
  pointer-events: none;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal__container {
  background-color: #fff;
  margin: auto;
  padding: 36px;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  max-width: 430px;

  max-height: 100vh;
  box-sizing: border-box;
  justify-content: center;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition-delay: 0s;
}

.modal__overlay {
  position: fixed;
  z-index: 10;
}

.modal__container {
  position: relative;
  z-index: 20;
}
.modal__close {
  border: none;
  background-color: transparent;
  position: absolute;
  bottom: calc(100% + 3px);
  left: calc(100% + 1px);
  background-image: url(../images/close.svg);
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.modal__close:hover {
  opacity: 0.6;
}

.modal__heading {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 30px;
  color: black;
  margin: 0;
  padding: 0;
  padding-bottom: 24px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  position: relative;
}

.modal__input {
  font-size: 14px;
  height: 17px;
  width: 358px;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 14px;
  margin-top: 30px;
}

.modal__input_type_error:invalid {
  border-bottom: 1px solid #ff0000;
}

.modal__input::placeholder {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400px;
  font-size: 14px;
  line-height: 1px;
  color: #000;
}

.modal__error {
  visibility: hidden;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 15px;
  color: #ff0000;
  padding: 0;
  padding-top: 13px;
  margin: 0;
  position: absolute;
  top: calc(100% - 15px);
  left: 0;
}

.modal__error_visible {
  visibility: visible;
}

.modal__button {
  color: #fff;
  background-color: #000000;
  border-radius: 2px;
  text-decoration: #fff;
  width: 100%;
  height: 50px;
  margin: 48px 0 0;
  padding: 0;
  cursor: pointer;
}

.modal__button_disabled {
  border: 1px;
  border-radius: 2px;
  background-color: gray;
}

.modal__button:hover {
  opacity: 0.6;
}

.modal__container-image {
  background: transparent;
  width: auto;
  height: auto;
  max-width: 816px;
  margin: auto;
  padding: 0;
  position: relative;
}

.modal__preview-image {
  max-width: 75vw;
  max-height: 75vh;
  object-fit: cover;
  display: flex;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.modal__close_preview {
  bottom: calc(100% + 4px);
}

.modal__image-caption {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  font-weight: 400px;
  font-size: 12px;
  line-height: 1;
  margin: 0;
  padding: 0;
  color: #ffffff;
  max-width: 291px;
  max-height: 12px;
  top: calc(100% + 5px);
  right: unset;
  position: absolute;
}

@media screen and (max-width: 520px) {
  .modal__container {
    position: relative;
    /*max-width: 282px;*/
    width: 282px;
    height: 322px;
    padding-right: 19px;
    padding-left: 19px;
    padding-bottom: 25px;
    padding-top: 25px;
  }

  .modal__form {
    gap: 18px;
  }

  .modal__close {
    position: absolute;
    height: 26px;
    width: 26px;
    top: -50px;
    left: 245px;
  }

  .modal__button {
    font-size: 14px;
    margin: 45px 0 0;
  }

  .modal__heading {
    margin-bottom: 21px;
    font-size: 18px;
  }

  .modal__input {
    margin: auto;
    padding-top: 0;
    width: 238px;
  }

  .modal__preview-image {
    max-width: 240px;
    height: 299px;
    top: 136px;
    left: 40px;
  }

  .modal__close_preview {
    position: absolute;
    height: 26px;
    width: 26px;
    top: -5px;
    left: 260px;
  }

  .modal__image-caption {
    top: calc(100% + -20px);
    left: 20px;
  }
}
