.page {
  background-color: black;
  font-family: "Inter", Arial, Helvetica, sans-serif;
  color: white;
}

.page__content {
  padding-right: 20px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__section {
  position: relative;
  max-width: 880px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 775px) {
  .page__content {
    align-items: center;
  }
}

@media screen and (max-width: 320px) {
  .page__content {
    padding: 0;
  }
}
