.header {
  min-height: 74px;
  border-bottom: 1px solid rgb(84 84 84 / 0.7);
  padding-bottom: 41px;
}

.header__logo {
  color: #ffffff;
  width: 173px;
  height: 33px;
  margin-top: 45px;
}

@media screen and (max-width: 775px) {
  .header {
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .header {
    padding: 0;
  }

  .header__logo {
    height: 24px;
    margin: 0;

    padding-top: 28px;
    padding-bottom: 32px;
  }
}
